common: &common
  adapter: postgresql
  encoding: unicode
  database: listy_development
  pool: 5
  timeout: 5000

development:
  <<: *common

test:
  <<: *common
  database: listy_test

production:
  <<: *common
  database: listy_production
